/*html{
     margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    /*border: 5px solid blue;*/
    /*text-align: center;
    background: black; 
}*/
 /*label{
    font-family: fantasy;
    color: rgb(10, 4, 68);
    font-size: 25px;
    letter-spacing: 3px;
    text-shadow: 2px 2px 5px rgb(202, 202, 240);
}
input{
    margin-top: 10px;
    padding: 15px;
    border: 3px solid;
    /*outline-color: darkblue;*/
    /*border-radius: 5px;
    background-color:rgb(225, 248, 252);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    letter-spacing: 2px;
}
button{
    background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}*/

